@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Karla:wght@400;700&display=swap');

:root{
    --ff-font-family-one: 'DM Serif Text', serif;
    --ff-font-family-two: 'Karla', sans-serif;
    --clr-dark-violet : hsl(256,26%,20%);
    --clr-grayish-blue:hsl(216,30%,68%);
    --clr-very-dark-violet:hsl(270,9%,17%);
    --clr-dark-grayish-violet:hsl(273,4%,51%);
    --clr-very-light-gray:hsl(0,0%,98%);
    
    
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    
}

html{
    font-size:62.5%;

}

body{
    max-width:1440px;
    overflow-x: hidden;
    margin:0 auto;
}

div.container{
    width:80%;
    margin:4em auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2em;
}

nav ul li a{
    font-size:2rem;
    color: var(--clr-dark-violet);
    font-family: var(--ff-font-family-two);
    text-transform: uppercase;
}

nav ul li a.cta-button{
    color:var(--clr-very-dark-violet);
    border:1px solid var(--clr-very-dark-violet);
    padding:0.2em 0.8em;
}

section.section-one {
    background-color: var(--clr-dark-violet);
    color: white;
    height:80vh;
    /* background-image: url('images/bg-pattern-intro-right-desktop.svg'),url("images/bg-pattern-intro-left-desktop.svg");
    background-repeat: no-repeat,no-repeat;
    background-position-y: 0px,151px;
    background-position-x:959px ,-79px;
    background-size:contain,contain;
    z-index:1; */
    position:relative;
   
}
section.section-one::before{
    content:"";
    background-image: url("images/bg-pattern-intro-left-desktop.svg");
    position: absolute;
    top: 59%;
    left: 0%;
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
}

section.section-one::after{
    content:"";
    background-image: url("images/bg-pattern-intro-right-desktop.svg");
    position: absolute;
    top: 0%;
    right: -75%;
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
}


/* section.bg-banner{
    background-position-x: 120px;
    background-repeat: no-repeat;
    background-position-y: 240px;
    
    background-size:contain;
    z-index: 1;
} */
.section-one main{
    width:80%;
    margin:4em auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:2em;
    
}

.section-one main div.left , .section-one main div.right{
    margin:6em 0em;
   
    flex: 1;
}

.section-one main div.right{
   
    width: 100%;
    height: 100%;    
}

.section-one main div.right div{
    width: 100%;
    height: 100%;
    /* border:1px dotted red; */
    /* position: relative; */
    /* background: url("./images/bg-pattern-intro-right-desktop.svg"); */

    
}

.section-one main div.right {
    height: 100%;
   
}

.section-one main div.right div img{
    width: 100%;
    height: 100%;
}

.section-one main div.left div.line {
    width:150px;
    margin-bottom:5em;
    background-color: white;
    height: 1px;
}

.section-one main div.left h1.title {
        font-size:7rem;
        margin:0.5em 0em;
        line-height: 1em;
        font-family: var(--ff-font-family-one);
} 

.section-one main div.left p {
    font-size:1.8rem;
    margin-bottom:3em;

    color: white;
    font-family: var(--ff-font-family-two);
}

.section-one main div.left a {
    border:1px solid white;
    margin-top:3em;
    padding: .3em 1.5em;
    font-size: 1.8rem;
    font-family: var(--ff-font-family-two);
}

section.section-two{
    margin-top:20em;
  
}
section.section-two div.container-two{
    width:80%;
    margin:4em auto; 
}

section.section-two div.container-two div.line{
    width:150px;
    height:1px ;
    background: var(--clr-dark-violet);
    margin:1em 0em;
}

section.section-two div.container-two h1.second-title{
        font-size:2.9rem;
        font-family: var(--ff-font-family-one);
        margin:1em 0em;
    }

    section.section-two div.container-two div.cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:2em;
    }

    section.section-two div.container-two div.cards h3{
        margin:1em 0em;
        font-size:2.3rem;
    }

    section.section-two div.container-two div.cards p{
        font-size:1.8rem;
        color: var(--clr-very-dark-violet);
        font-family: var(--ff-font-family-two);
    }

    section.section-three{
        margin:4em 0em;
        position:relative;
    }

    section.section-three::before{
        content:""; 
        position: absolute;
        height: 100%;
        width:100%;
        background-image: url('images/bg-pattern-how-we-work-desktop.svg');
        background-repeat: no-repeat;
        right:-55%;
    }

    section.section-three div.container-three{
        width:80%;
        margin:4em auto; 
        background-color: var(--clr-dark-violet);
        padding:2em 1em;
        color: white;

    }

    section.section-three div.container-three div.box{
        width:80%;
        margin:0 auto;
        padding:5em 0em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    section.section-three div.container-three div.box h1{
     
        font-size:2.8rem;
        font-family: var(--ff-font-family-one);
    }

    section.section-three div.container-three div.box a{
        font-size: 1.5rem;
        padding:1em 2em;
        color: white;
        border: 1px solid white;
    }

    footer {
        background-color: var(--clr-very-light-gray);
        margin-top:5em;
        overflow: hidden;
        position:relative;
    }

    footer::before{
        content:"";
        height: 100%;
        width:100%;
        background-image: url('images/bg-pattern-footer-desktop.svg');
        top:0%;
        left:0%;
        position:absolute;
        background-repeat: no-repeat;
    }

    footer div.box{
        width:80%;
        margin:3em auto;
    }

    footer div.box div.top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:2em 0em;
    }

    footer div.box div.top div.icons img{
            margin-left:2em;
        }

    footer div.box div.line{
        width:100%;
        margin:2em 0em;
        background-color: var(--clr-dark-grayish-violet);
        height: 1px ;
    }

    footer div.box div.bottom{
        display: flex;
        align-items: center;
    }

    footer div.box div.bottom div.left{
        flex:4;
        display: flex;
       
        justify-content: space-between;
    }
    footer div.box div.bottom div.left div > h5{
        font-size:2.0rem;
        color: var(--clr-dark-grayish-violet);
        font-family: var(--ff-font-family-two);
        margin:2em 0em;
    }
    footer div.box div.bottom div.left div > p{
        font-size:2.0rem;
        color:var(--clr-very-dark-violet);
        font-family: var(--ff-font-family-two);
        margin:1.4em 0em;
    }

    footer div.box div.bottom div.right{
        flex:1;
    }