@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
:root{
    --font-family:'Epilogue', sans-serif;
    --clr-white:hsl(0,0%,98%);
    --clr-medium-grey:hsl(0,0%,41%);
    --clr-black:hsl(0,0%,8%);
    --font-weight-neutral:500;
    --font-weight-bold:800;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width:100vw;
    height:100vh;
    font-family: var(--font-family);
    
}

header{
    width:95%;
    margin:0 auto;
    padding:1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}

header div.dropdown ,header div.dropdown2{
    display: none;
}

header div.show {
   /* display: none; */
   display: block;
   position: absolute;
   top:62px;
   left:7%;
   background-color: white;
   padding:1rem 1rem;
   border-radius: 12px;
   box-shadow: 4px 4px 4px 4px #888;

}

header div.show1 {
    display: block;
    position: absolute;
    top:62px;
    left:20%;
    background-color: white;
    padding:1rem 1rem;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 4px #888;
}

header div.mobile-menu{
    display: none;
}

header div.hamburger{
    display: none;
}

header div.close{
    display: none;
}
section.intro div.right img.second{
    display: none;
}

header div.dropdown ul,header div.dropdown2 ul{
    list-style-type: none;
}

header div.dropdown ul li,header div.dropdown2 ul li{
        padding:0.4rem 0.2rem;
}

header div.dropdown ul li a,header div.dropdown2 ul li a{
    text-decoration: none;
    color: var(--clr-medium-grey);
}


header div.left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header div.left nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:25px;
    list-style-type: none;
}
header div.left nav ul li{
    margin-left:30px;
}

header div.left nav ul li a{
    text-decoration: none;
    color: var(--clr-medium-grey);
}

header div.right div.buttons button.login{
    border:0;
    background-color: var(--clr-white);
    color: var(--clr-medium-grey);
    font-family: var(--font-family);
    margin-right: 20px;
    font-weight: var(--font-weight-neutral);
}

header div.right div.buttons button.register{

    background-color: var(--clr-white);
    color: var(--clr-medium-grey);
    border: 1px solid var(--clr-medium-grey);
    border-radius: 12px;
    padding:0.5rem 1rem;
    font-weight: var(--font-weight-neutral);
}

section.intro{
    width:80%;
    margin:0 auto;
    height:calc(100% - 10% - 66px);
    /* background-color: skyblue; */
    display: flex;
    justify-content: space-between;
}

section.intro div.left{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section.intro div.left div.top{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:4rem 0rem;
}

section.intro div.left div.top div.title h1,
    section.intro div.left div.top div.title h2{

    font-size: 4rem;
    font-weight: var(--font-weight-bold);
    color: var(--clr-black);

}

section.intro div.left div.top div.description p{
    width:80%;
    line-height: 25px;
}
section.intro div.left div.top div.last-button button{
    background-color: var(--clr-black);
    padding:0.5rem 1rem;
    color: var(--clr-white);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    border-radius: 12px;
}

section.intro div.left div.top div.last-button button:hover{
    background-color: var(--clr-white);
    color: var(--clr-black);
    cursor: pointer;
}

section.intro div.left div.bottom {
    width: 100%;
}

section.intro div.left div.bottom div.brands {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.intro div.left div.bottom div.brands svg{
    width:20%;
}


section.intro div.right{
    width:40%;
    height: 100%;
}
section.intro div.right img{ 
    width:100%;
    height: 100%;
}

section.intro div.left div.title p{
    display: none;
}

section.intro div.left div.bottom div.brands-mobile{
    display: none;
}

@media (max-width:375px){
    body{
        height: 100%;
        width:100%;
    }
    header{
        width:95%;
        margin:0 auto;
    }
    header div.left nav{
        display: none;
    }

    header div.right {
        display: none;
    }
    header div.hamburger{
        display: block;
    }

    section.intro{
        width:95%;
        margin:0 auto;
        height: calc(100% - 63px);
        display: flex;
        flex-direction: column-reverse;
    }
    section.intro div.left{
        width:100%;
    }
    section.intro div.right{
        width:100%;
    }

    section.intro div.right img.second{
        width:100%;
        height:100%;
    }

    section.intro  div.right img.first{
        display: none;
    }

    section.intro div.right img.second{
        display: block;
    }

    section.intro div.left div.title h1,section.intro div.left div.title h2{ 
            display: none;
    }

    section.intro div.left div.title p{
        font-size: 2rem;
        display: block;
        font-weight: var(--font-weight-bold);
        text-align: center;
        padding:1rem 0rem;
    }

    section.intro div.left div.top {
        padding: 2rem 0rem;
    }

    section.intro div.left div.top div.description p{
        font-size: 1rem;
        width:100%;
        line-height: normal;
        text-align: center;
        padding:1rem 0rem;
    }

    section.intro div.left div.top div.last-button {
        display: flex;
        justify-content: center;
        padding:0.5rem 0rem;
    }   


section.intro div.left div.bottom div.brands{
    width:100%;
    margin:0 auto;
    padding-bottom: 2rem;

}

section.intro div.left div.bottom div.brands-mobile div.scaling-svg-container {
    width:20%;
    height: 100%;
}

/* section.intro div.left div.bottom div.brands svg:nth-child(1){
    width:100%;
    height:100%;
}

section.intro div.left div.bottom div.brands svg:nth-child(2){
    width:100%;
    height: 100%;
}

section.intro div.left div.bottom div.brands svg:nth-child(3){
    width:100%;
    height:100%;
}

section.intro div.left div.bottom div.brands svg:nth-child(4){
    width:100%;
    height:100%;
} */
section.intro div.left div.bottom div.brands{
    display: none;
}
section.intro div.left div.bottom div.brands-mobile{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}
section.intro div.left div.bottom div.brands-mobile div.scaling-svg-container{
    position:relative;
    height:0;
    width:20%;
    padding:0;
    
}
section.intro div.left div.bottom div.brands-mobile div.scaling-svg-container div.scaling-svg{
    position:absolute;
    height: 100%;
    width:100%;
    left:0;
    top:0;
}

header div.mobile-menu-open {
    display: block;
    width:80%;
    height:100vh;
    position: absolute;
    z-index: 3;
    background-color: white;
    top:51px;
    right:0;
}

header div.mobile-menu-open ul{
    width:80%;
    margin:0 auto;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
   
}

header div.mobile-menu-open ul li{
    padding:1rem 0rem;
}

header div.mobile-menu-open ul li a{
        text-decoration: none;
        color: var(--clr-medium-grey);
    }

    header div.mobile-menu-open ul li > ul.inner0,  header div.mobile-menu-open ul li > ul.inner1{
        display: none;
    }

    header div.mobile-menu-open ul li > ul.inneropen,  header div.mobile-menu-open ul li > ul.inneropen1{
        display: block;
        width:100%;
    }

    header div.mobile-menu-open ul li > ul.inneropen li,  header div.mobile-menu-open ul li > ul.inneropen1 li{
            display: flex;
            align-items: center;
    }

header div.mobile-menu-open div{
        width:80%;
        margin:0 auto;
        padding:1rem 0rem;
        display: flex;
        flex-direction: column;
}
header div.mobile-menu-open div button.login{ 
        border:0;
        background-color: white;
        color: var(--clr-medium-grey);
        margin:1rem 0rem;
    }
header div.mobile-menu-open div button.register{ 
        border:0.7px solid var(--clr-medium-grey);
        border-radius: 6px;
        padding:0.5rem 0rem;
        background-color: white;
        color: var(--clr-medium-grey);
}   
}
