*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: url("../../design/11_travelsite/img/bg2.png") ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width:45vw;
   
    background-color: #fff;
    padding:1rem;
}

.task-container{
    display: flex;
    width:100%;
}
 input{
    flex:5;
    margin-right: 4px;
    font-size:1.2rem;
    padding:10px;
}

.task-container button{
    flex:1;
    font-size:1.2rem;
    padding:5px;
    background-color: #fff;
    color:green;
    border:2px solid green;
    border-radius:4px;

}

.task{
    display: flex;
    margin-top:12px;
}

.task li{
    list-style-type: none;
    flex:4;
}


.check{
    background-color: orange;
    color:white;
    font-size:1.1rem;
    border:none;
    padding:1rem;
}

.delete{
    background-color: red;
    color: white;
    font-size:1.1rem;
    border:none;
    padding:1rem;
}
